#!/bin/bash

# Get your client id and secret from https://dev.telstra.com/user/me/apps

CLIENT_ID=your_client_id
CLIENT_SECRET=your_secret

docker run -e CLIENT_ID=${CLIENT_ID} -e CLIENT_SECRET=${CLIENT_SECRET} singularo/telstra-sms2 "${NUMBER}" "${SUBJECT} - ${BODY}"
